{% extends '::base.html.twig' %}

{% block title 'Greetings Page' %}

{% block body %}
    {# just a comment #}
    <ul>
        {% for i in 1..10 %}
            <li>Hello World for <strong>{{name | upper}}</strong> # {{i}}</li>
        {% endfor %}
    </ul>

{% endblock %}

